In [2]:
import pandas as pd
import numpy as np
import itertools as it

# Loading Data

In [11]:
pref = np.zeros((943, 1682), dtype = int)
movies = pd.read_csv('ml-100k/u.item', sep='|', header = None, encoding='latin-1')

In [4]:
movies.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
file = open('ml-100k/u.data', 'r')
for line in file:
    col = line.split('\t')
    pref[int(col[0]) - 1][int(col[1]) - 1] = int(col[2])

# Defining Pearson Correlation

In [6]:
from math import *
def pearson(prefs,p1,p2):
    sum1 = 0
    sum2 = 0
    sum1sq = 0
    sum2sq = 0
    psum = 0
    n = 0
    for i in range(pref.shape[1]):
        if  prefs[p1][i] != 0 and prefs[p2][i] != 0:
            sum1 = sum1 + prefs[p1][i]
            sum2 = sum2 + prefs[p2][i]
            sum1sq = sum1sq + (prefs[p1][i] * prefs[p1][i])
            sum2sq = sum2sq + (prefs[p2][i] * prefs[p2][i])
            psum = psum + (prefs[p1][i]*prefs[p2][i])
            n = n + 1
    if n == 0:
        return 0
    num=psum-(sum1*sum2/n)
    den=sqrt((sum1sq-pow(sum1,2)/n)*(sum2sq-pow(sum2,2)/n))
    if den==0: return 0
    r=num/den
    return r

# Calculating Rankings

In [7]:
p = 769
n = 10
d = pref.shape[0]
b = pref.shape[1]

In [8]:
scores = {}
for i in it.chain(range(p),range(p+1,d)):
    scores[i] = pearson(pref, p, i)

In [9]:
totals = {}
simsums = {}
for i in it.chain(range(0,p),range(p+1,d)):
    if scores[i] <= 0:
        continue
    for j in range(b):
        if pref[p][j] == 0 and pref[i][j] > 0:
            totals.setdefault(j,0)
            totals[j] += pref[i][j] * scores[i]
            simsums.setdefault(j,0)
            simsums[j] += scores[i]
rankings=[(total/simsums[item],item) for item,total in totals.items( )]
rankings.sort( )
rankings.reverse( )

In [10]:
ans=[]
for i in rankings[:10]:
    ans.append(movies[movies[0] == i[1]][1])

In [11]:
ans

[1590    Duoluo tianshi (1995)
 Name: 1, dtype: object, 1654    Favor, The (1994)
 Name: 1, dtype: object, 1640    Dadetown (1995)
 Name: 1, dtype: object, 1627    Lamerica (1994)
 Name: 1, dtype: object, 1603    He Walked by Night (1948)
 Name: 1, dtype: object, 1534    Enfer, L' (1994)
 Name: 1, dtype: object, 1514    Wings of Courage (1995)
 Name: 1, dtype: object, 1510    Children of the Revolution (1996)
 Name: 1, dtype: object, 1498    Grosse Fatigue (1994)
 Name: 1, dtype: object, 1489    Fausto (1993)
 Name: 1, dtype: object]